<nav>
    <ul class="pagination justify-content-center">

        @foreach (var link in Links)
        {
            <li @onclick=@(() => InternalSelectedPage(link)) 
                style="cursor: pointer" class="page-item text-center
                    @(link.Enable ? null : "disabled") 
                    @(link.Enable ? "active" : null)">
                <a class="page-link m-1" style="width: @((link.Text =="<<" || link.Text ==">>") ? "40px" : "40px")">@link.Text</a>
            </li>
        }
    </ul>
</nav>


@code {
    [Parameter] public int CurrentPage { get; set; } = 1;
    [Parameter] public int TotalPages { get; set; }
    [Parameter] public int Radio { get; set; } = 10;
    [Parameter] public EventCallback<int> SelectedPage { get; set; }
    List<PageModel> Links = new();


    //Se ejecuta cuando los parametros están cargados en memorias
    protected override void OnParametersSet()
    {
        Links = new List<PageModel>();
        var previousLinkEnable = CurrentPage != 1;
        var previousLinkPage = CurrentPage - 1;
        Links.Add(new PageModel
            {
                Text = "<<",
                Page = previousLinkPage,
                Enable = previousLinkEnable
            });

        for (int i = 1; i <= TotalPages; i++)
        {
            if( TotalPages <= 10)
            {
                Links.Add(new PageModel
                    {
                        Page = i,
                        Enable = CurrentPage == i,
                        Text = $"{i}"
                    });
            }
            else if ( (Radio - CurrentPage) >= 0 && (Radio - i) >=0)
            {
                Links.Add(new PageModel
                    {
                        Page = i,
                        Enable = CurrentPage == i,
                        Text = $"{i}"
                    });
            }
            else if ((Radio - CurrentPage) < 0 && (CurrentPage - Radio ) < i && i <= CurrentPage)
            {
                Links.Add(new PageModel
                    {
                        Page = i,
                        Enable = CurrentPage == i,
                        Text = $"{i}"
                    });
            }
            //esto lo hacemos para que no recorra más el ciclo cuando la lista tenga 11 registros, 1 del boton anterior y 10 de las paginas
            if( Links.Count() == 11)
            {
                break;
            }
      
          
        }

        var linkNextEnable = CurrentPage != TotalPages;
        var linkNextPage = (CurrentPage == TotalPages) ? TotalPages : CurrentPage + 1;
        Links.Add(new PageModel
            {
                Text = ">>",
                Page = linkNextPage,
                Enable = linkNextEnable
            });

    }

    private async Task InternalSelectedPage(PageModel pageModel)
    {
        if (pageModel.Page == CurrentPage || pageModel.Page == 0)
        {
            return;
        }
        CurrentPage = pageModel.Page;
        await SelectedPage.InvokeAsync(pageModel.Page);
    }


    class PageModel
    {
        public string Text { get; set; } = null!;
        public int Page { get; set; }
        public bool Enable { get; set; } = true;
        public bool Active { get; set; } = false;

    }



}